@model DatabaseBenchmark.Web.Models.JsonObjectModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JsonDataCount" class="control-label"></label>
                <input asp-for="JsonDataCount" class="form-control" />
                <span asp-validation-for="JsonDataCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@if(Model.productsInJson != null){
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.productsInJson) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
            </tr>
    }
        </tbody>
    </table>
}
